<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/jpeg" sizes="48x48" href="/logo.gif">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <!-- a description of a web developer portfolio -->
    <meta property="og:description" content="Full-stack web developer specializing in modern, high-performance web applications. Experienced in React, Next.js, Node.js, and API development, building scalable SaaS platforms, business websites, dashboards, and custom digital solutions. Focused on clean code, responsive design, performance optimization, security, and user experience. Delivering reliable, SEO-friendly web solutions tailored for startups, businesses, and enterprises." />


    <!-- Basic OG tags for main URL -->
    <meta property="og:title" content="Full-Stack Web Developer & Digital Solutions Builder" />
    <!-- a description of a web developer portfolio -->
    <meta property="og:description" content="Full-stack web developer specializing in modern, high-performance web applications. Experienced in React, Next.js, Node.js, and API development, building scalable SaaS platforms, business websites, dashboards, and custom digital solutions. Focused on clean code, responsive design, performance optimization, security, and user experience. Delivering reliable, SEO-friendly web solutions tailored for startups, businesses, and enterprises." />
    <meta property="og:image" content="/logo.gif" />
    <meta property="og:type" content="website" />


    <!-- font  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
