.landing{
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
    img{
      object-fit: cover;
    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100% - 350px);
      @media screen and (max-width:780px) {
        top: calc(100% - 150px);
      }
      @media screen and (max-width:380px) {
        top: calc(100% - 90px);
      }
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
      @media screen and (max-width:780px) {
        font-size: 100px;
      }
      @media screen and (max-width:380px) {
        font-size: 60px;
      }
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 35%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
        @media screen and (max-width:400px) {
          margin-bottom: 2px;
        }
      }
      svg{
        transform: scale(2);
        margin-bottom: 50px;
      }
      @media screen and (max-width:600px) {
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 12px;
        svg{
          margin-bottom: 20px;
        }
      }
      @media screen and (max-width:350px) {
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 10px;
        svg{
          transform: scale(1);
          margin-bottom: 8px;
        }
      }
    }
  }
  
