.description{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    
    @media screen and (max-width:1000px) {
        padding: 50px 50px;
        margin-top: 120px;
    }
    @media screen and (max-width:600px) {
        padding: 10px 10px;
        margin-top: 120px;
    }
    .body{
        max-width: 1400px;
        display: flex;
        gap: 50px;
        position: relative;
        @media screen and (max-width:800px) {
            flex-direction: column;
        }
        @media screen and (max-width:1000px) {
            gap: 20px;
        }
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 36px;
                gap: 8px;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
                @media screen and (max-width:600px) {
                    font-size: 24px;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 80%;
                font-weight: 300;
                @media screen and (max-width:600px) {
                    font-size: 12px;
                }
            }
            
        }
        .button{
            top: 80%;
            left: calc(100% - 200px); 
            width: 180px;
            height: 180px;
            background-color: #1C1D20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (max-width:1000px) {
                top: 110%;
            }
            @media screen and (max-width:600px) {
                 width: 140px;
                 height: 140px;
            }
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}