.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    gap: 40px;
    flex-wrap: wrap;
    @media screen and (max-width:600px){
        flex-direction: row;
        font-size: 12px;
        gap: 16px;
    }
    @media screen and (max-width:400px){
        flex-direction: row;
        font-size: 8px;
        gap: 16px;
    }
}