.contact{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
    .body{
        padding-top: 200px;
        width: 100%;
        max-width: 1800px;
        background-color: #141516;
        .title{
            border-bottom: 1px solid rgb(134, 134, 134);
            padding-bottom: 50px;
            margin-left: 200px;
            margin-right: 200px;
            position: relative;
            @media screen and (max-width:850px) {
                margin-left: 20px;
                margin-right: 20px;
            }
            span{
                display: flex;
                align-items: center;
                .imageContainer{
                    width: 100px;
                    height: 100px;
                    position: relative;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                    }
                }
                h2{
                    margin-left: 0.3em;
                }
            }
            h2{
                font-size: 8vw;
                margin: 0px;
                font-weight: 300;
            }
            .buttonContainer{
                position: absolute;
                left: calc(100% - 400px); 
                top: calc(100% - 75px);
                margin-bottom: 50px;
                @media screen and (max-width:850px) {
                    position: static;
                    top: calc(100% - 50px);
                    display: flex;
                    justify-content: center;
                }
            }
            .button{
                width: 180px;
                height: 180px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @media screen and (max-width:600px) {
                    width: 100px;
                    height: 100px;
                    margin-top: 20px;
                }
                p{
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 300;
                    z-index: 2;
                    position: relative;
                    @media screen and (max-width:600px) {
                        font-size: 12px;
                    }
                }
            }
            svg{
                position: absolute;
                top: 30%;
                left: 100%;
                @media screen and (max-width:850px) {
                    left: 80%;
                }
            }
        }
        .nav{
            display: flex;
            gap: 20px;
            margin-top: 100px;
            margin-left: 200px;
            margin-right: 200px;
            @media screen and (max-width:850px) {
                margin-left: 20px;
                margin-right: 20px;
            }
            @media screen and (max-width:600px) {
                flex-direction: column;
            }
        }
        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            padding: 20px;
            @media screen and (max-width:700px) {
                margin-top: 50px;
                flex-direction: column;
            }
            div{
                display: flex;
                gap: 10px;
                align-items: flex-end;
                p, h3{
                    margin: 0px;
                    padding: 2.5px;
                    cursor: pointer;
                }
                p{
                    &::after{
                        content: "";
                        width: 0%;
                        height: 1px;
                        background-color: white;
                        display: block;
                        margin-top: 2px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.2s linear;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                h3{
                    color: grey;
                    cursor: default;
                    font-weight: 300;
                    font-size: 1em;
                }
            }
            
        }
    }
    
}